/* src/styles/global.css */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: var(--font-primary);  }

.chakra-alert {
  display: flex;
  top: 20px;
  position: relative;
  background: var(--chakra-colors-white); /* Bright white background */
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-8);
  padding-top: var(--chakra-space-3);
  padding-bottom: var(--chakra-space-3);
  color: var(--alert-fg);
  --alert-fg: var(--chakra-colors-gray-900); /* Black-ish text */
  align-items: center;
  border-radius: var(--chakra-radii-md);
  box-shadow: var(--chakra-shadows-lg);
  text-align: start;
  width: auto;
}
